<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="js/script.js" defer></script>
  <title>News</title>
</head>
<body>
  <nav>
    <a href="/"><h1>NEWS</h1></a>
    <div class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <div class="navbar-items">
      <a href="/compose">Create</a>
      <input placeholder="Search...">
    </div>
  </nav>
