<%- include("partials/header") %>

<div class="empty-flexbox">
  <h3>Looks like you haven't created any posts yet :(</h3>
  <a class="btn-to-new" href="/compose">Create a new post</a>
</div>

<%- include("partials/footer") %>